@import "../../styles/variables.scss";

h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}

.home_page_content {
  display: grid;
  gap: 30px;
  grid-template-areas:
    "A A B B C C"
    "D D D D E E"
    "F F F G G G";

  @media screen and (max-width: $small_tablet) {
    grid-template-areas: none;

    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 10px;
  }
}

.card {
  background: #383e57;
  box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.15);
  border-radius: 18px;
  padding: 20px;

  @media screen and (max-width: $notebook) {
    padding: 10px;
  }
}

.home_page_filds {
  grid-area: A;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $small_tablet) {
    grid-area: auto;
  }

  .home_page_filds_img {
    width: 186px;
    height: 140px;
    align-self: end;

    img {
      width: 100%;
    }

    @media screen and (max-width: $notebook) {
      width: 90%;
      height: auto;
    }
  }
}
//____________________________________________

.home_page_harvest_statistics {
  grid-area: B;

  @media screen and (max-width: $small_tablet) {
    grid-area: auto;
  }

  .home_page_harvest_statistics_place {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
  .home_page_harvest_statistics_img {
    width: 100%;
    text-align: center;
    position: relative;
    top: -20px;

    @media screen and (max-width: $notebook) {
      top: 0px;
    }
  }

  img {
    @media screen and (max-width: $notebook) {
      width: 90%;
    }
  }
}

//____________________________________________

.home_page_reports {
  grid-area: D;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media screen and (max-width: $small_tablet) {
    grid-area: auto;
  }

  @media screen and (max-width: $notebook) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }

  .home_page_reports_chart {
    padding-right: 40px;
    padding-bottom: 30px;

    @media screen and (max-width: $notebook) {
      padding-right: 10px;
    }
  }
}

//____________________________________________

.home_page_weather {
  grid-area: C;

  @media screen and (max-width: $small_tablet) {
    grid-area: auto;
  }
}

.home_page_weather_flex {
  display: flex;
  align-items: flex-end;
  gap: 50px;
  padding-bottom: 20px;

  @media screen and (max-width: $notebook) {
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.home_page_weather_date {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.home_page_weather_temp {
  font-style: normal;
  font-weight: 300;
  font-size: 80px;
  letter-spacing: -0.05em;

  @media screen and (max-width: $notebook) {
    font-size: 40px;
  }

  span {
    vertical-align: top;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 49px;

    @media screen and (max-width: $notebook) {
      font-size: 20px;
      line-height: 9px;
    }
  }
}

.home_page_weather_info {
  display: flex;
  gap: 6px;
  flex-direction: column;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #a1a6be;
  @media screen and (max-width: $notebook) {
    line-height: 9px;
  }
}

//____________________________________________

.home_page_employees {
  grid-area: E;

  @media screen and (max-width: $small_tablet) {
    grid-area: auto;
  }

  .home_page_employee {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    @media screen and (max-width: $tablet) {
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  .home_page_employee_name {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
  .home_page_employee_post {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #a1a6be;
  }
  .home_page_employee_icons {
    display: flex;
    gap: 20px;

    img {
      width: 16px;
      height: 16px;
    }
  }
  .home_page_employees_btn {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #43e8ff;
    padding-top: 30px;
  }
}

//____________________________________________

.home_page_statistics {
  grid-area: F;

  @media screen and (max-width: $small_tablet) {
    grid-area: auto;
  }

  .home_page_statistics_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home_page_statistics_years {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #43e8ff;
  }

  .home_page_statistics_info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (max-width: $notebook) {
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 10px;
      align-items: center;
    }
  }

  .home_page_statistics_info_diagram {
    padding-right: 80px;

    @media screen and (max-width: $laptop) {
      padding-right: 20px;
    }

    img {
      width: 100%;
    }
  }
}

.home_page_statistics_info_text {
  display: grid;
  gap: 2px;
  grid-template-areas:
    "A B"
    ". C"
    ". D"
    "E F"
    ". G"
    ". H";

  .home_page_statistics_info_square__blue {
    grid-area: A;

    padding-top: 22px;
    padding-right: 20px;
  }

  .home_page_statistics_info_harvest_2020 {
    grid-area: B;

    padding-top: 22px;
    padding-bottom: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
  }

  .home_page_statistics_info_weight_2020 {
    grid-area: C;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #a1a6be;
  }
  .home_page_statistics_info_regions_2020 {
    grid-area: D;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #a1a6be;
  }

  .home_page_statistics_info_square__purple {
    grid-area: E;
    padding-top: 22px;
  }

  .home_page_statistics_info_harvest_2019 {
    grid-area: F;

    padding-top: 22px;
    padding-bottom: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
  }

  .home_page_statistics_info_weight_2019 {
    grid-area: G;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #a1a6be;
  }

  .home_page_statistics_info_regions_2019 {
    grid-area: H;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #a1a6be;
  }
}

.home_page_leased_equipment_right {
  img {
    width: 100%;

    @media screen and (max-width: $notebook) {
      width: 80%;
    }
  }
}
//____________________________________________

.home_page_leased_equipment {
  grid-area: G;

  display: flex;
  gap: 5px;
  justify-content: space-between;

  @media screen and (max-width: $small_tablet) {
    grid-area: auto;
  }

  @media screen and (max-width: $laptop) {
    flex-wrap: wrap;
    justify-content: center;
  }

  .home_page_leased_equipment_name {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }

  .home_page_leased_equipments {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding-top: 20px;
  }

  .home_page_leased_equipments_title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
  }

  .home_page_leased_equipments_info {
    padding-top: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #a1a6be;
  }

  .home_page_leased_equipment_btn {
    padding-top: 35px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #43e8ff;
  }
}

// .home_page_leased_equipment_right {
//   position: relative;

//   .horizontal_line {
//     position: absolute;
//     bottom: 40px;
//     right: 0;
//   }
//   .vertical_line_left {
//     position: absolute;
//     left: 0;
//   }
//   .vertical_line_center {
//     position: absolute;
//   }
//   .vertical_line_right {
//     position: absolute;
//   }
// }
