.events_content {
  display: flex;
  gap: 28px;
  max-height: 600px;
}

.events_content_left_col {
  overflow: auto;
  width: 50%;
  background: #383e57;
  box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.15);
  border-radius: 18px;
}

.events_content_left_title {
  padding: 27px 20px;
}

.events_content_right_col {
  width: 50%;
}

.events_content_generator {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .events_content_generator_document {
    display: flex;
    gap: 10px;
    align-items: end;
    justify-content: space-between;
  }
  .events_content_generator_document_border {
    border-bottom: 1px solid #ffffff;
    flex-grow: 1;
  }
}
