// @mixin flexCenter {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

$mobile: 380px;
$small_tablet: 576px;
$tablet: 720px;
// $tablet: 790px;
$notebook: 1200px;
$laptop: 1400px;

// @media screen and (max-width: $notebook) {
//   flex-wrap: wrap;
//   justify-content: center;
// }
