.table_header th {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  border: none;
  padding: 15px 15px;
  text-align: left;

  // @media screen and (max-width: $tablet) {
  //   font-size: 14px;
  // }
}
