.navbar_link {
  display: flex;
  // display: grid;
  // grid-template-columns: max-content 1fr;
  // column-gap: 16px;
  // text-decoration: none;
  // color: rgba(0, 0, 0, 0.54);
}

.active_link {
  color: #43e8ff;
}

.navbar_link:hover {
  color: #43e8ff;
}

.red {
  color: red;
}
