@import "./styles/normalize.css";

body {
  box-sizing: border-box;
  color: #ffffff;
  background: #4c5377;
  font-family: "Open Sans", sans-serif;
}

a {
  outline: none;
  text-decoration: none;
}
