@import "./styles/normalize.css";

html {
  color: #ffffff;
}

body {
  box-sizing: border-box;
  background: #4c5377;
  font-family: "Open Sans", sans-serif;
}

a {
  outline: none;
  text-decoration: none;
  color: #ffffff;
}

a:-webkit-any-link {
  color: #ffffff;
  cursor: pointer;
}

a:link {
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

a:focus {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}

a:active {
  color: #ffffff;
}
